@import "tailwindcss";

:root {
  color: white;
}

body {
  margin: 0;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}
h4 {
  font-weight: 500;
  font-size: 1.15rem;
}
h5 {
  font-weight: 500;
  font-size: 1.25rem;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-0; /* Hide scrollbar by default */
  }
}
